*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

input{
    width: 500px;
}

main {
  background-color: teal;
  border-width: 5px;
  display: flex;
  justify-content: space-around;
}
h1 {
  font-size: 4rem;
}

main > section {
  border-style: solid;
  background-color: gray;
}

#redPart {
  color: red;
}

#fancyFont {
  font-family: cursive;
}

#toTheRight {
  display: flex;
  justify-content: end;
}

#blueBox {
  display: flex;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  overflow: hidden;
  border-style: solid;
  border-width: 5px;
}

body > section > button {
  margin: 10px;
}

.link{
    font-weight: 900;
}

#hoverOver:hover{
    color: greenyellow;
    font-size: 2em;
}

img{
    width: 30%;
    padding: 30px;
}

#hero{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}